---
layout: default
---

<div class="post">
  <h2>Archive</h2>
  
  {% for post in site.posts%}
  {%   capture pyear %}{{ post.previous.date | date: '%Y' }}{% endcapture %}
  {%   capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {%   capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
  <h3>{{year}}</h3>
  <p>
  {% endif %}

  <a href="{{post.url}}">{{post.title}} - {{post.date | date: '%d/%m/%Y'}} </a> <br/>
    
  {% if year != pyear %}
  </p>
  {% endif %}
  
  {% endfor%}
</div>
