---
layout: default
---
<post-index>
  {% for post in site.posts %}
  {% if post.categories contains 'Projects' %}
  <div class="post">
    <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    <div class="date-address-category">{{post.date | date: "%d/%m/%Y"}}
      {% if post.address %}
      - {{post.address}}
      {% endif %}
      <span class="category-icon"></span>
      <a href="#">{{post.categories}}</a>
    </div>
    <p>
      {{post.content}}
    </p>
  </div>
  {% endif %}
  {% endfor %}
</post-index>
