<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
    <title>{{site.title}} | {{page.title}} </title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
    <link rel="icon" type="image/png" href="/image/favicon.ico"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="google-site-verification" content="NgnRvVMOAvhnMo4J-4PtjggfTaK0_i5DJR_v6xcTclg" />
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    {% include head.html %}
  </head>
  <body>
    <div class="sidebar"  >
      <h1>Hexa's Blog</h1>
      <p>The more you learn, the easier you learn more!</p>
      <nav>
        <a href="/index.html">Home</a>
        <a href="/archive.html">Archive</a>
        <a href="/category.html">Category</a>
        <a href="/project.html">Projects</a>
        <a href="/about.html">About me</a>
      </nav>
      <div class="footer">
        <div class="avatar">
        </div>
        <div class="contact">
          <a href="{{site.linkedin_url}}">Linkedin</a>
          <a href="{{site.github_username}}">Github</a>
          <a href="{{site.twitter_username}}">Twitter</a>
          <a href="{{site.facebook_username}}">Facebook</a>
          <a href="{{site.steam_url}}">Steam</a>
        </div>
      </div>

    </div>
    <div class="topbar">
      <h1>Hexa's Blog</h1>
      <label for="menu-trigger" ></label>
      <input type="checkbox" id="menu-trigger"/>
      <nav>
        <a href="/index.html">Home</a>
        <a href="/archive.html">Archive</a>
        <a href="/category.html">Category</a>
        <a href="/project.html">Projects</a>
        <a href="/about.html">About me</a>
      </nav>
    </div>
    <div class="content">
      {{content}}
    </div>
  </body>
</html>
